Repository Anselmoo/spectrafit, changes with the labels that .github/labeler.yml gives for each.
All labels: root, codeowners, codespaces, dependencies, documentation, forms, github-actions, pre-commit, python, testing, docker, release, vendor, maintenance, license, security, code-of-conduct, changelog

chore: :arrow_up: Update pre-commit hooks and dependencies
  .pre-commit-config.yaml
Labels: root, pre-commit, maintenance

Update mkdocstrings dependency and pre-commit hooks (#1262)
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Labels: root, dependencies, pre-commit, maintenance

Deployed 430acc14 to develop with MkDocs 1.6.0 and mike 1.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

chore: ⬆️ Update dependencies and actions (#1275)
  .github/workflows/docker-cd.yml
  .github/workflows/python-ci.yml
Labels: github-actions

Deployed 87dbac77 to develop with MkDocs 1.6.0 and mike 1.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed d4f44f90 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/examples/example9_4/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
  versions.json
Labels: root

chore: Update mike deploy command in python-ci.yml and update-changelog.yaml
  .github/workflows/python-ci.yml
  .github/workflows/update-changelog.yaml
Labels: github-actions

chore: Update mike deploy command in python-ci.yml and update-changelog.yaml
  poetry.lock
Labels: root, dependencies

chore: Update pymdownx.emoji extension to use material.extensions package
  mkdocs.yml
Labels: root, documentation

Deployed d9e1a667 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/examples/act_example9_3.csv
  develop/examples/example9_4/index.html
  develop/examples/fit_example9_3.csv
  develop/examples/org_example9_3.csv
  develop/examples/peaks_example9_3.csv
Labels: none

chore: :books: Update pymdownx.emoji extension and mike deploy command (#1282)
  .github/workflows/python-ci.yml
  .github/workflows/update-changelog.yaml
  mkdocs.yml
  poetry.lock
Labels: root, dependencies, documentation, github-actions

Deployed ae5952a8 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/examples/act_example9_3.csv
  develop/examples/example9_4/index.html
  develop/examples/fit_example9_3.csv
  develop/examples/org_example9_3.csv
  develop/examples/peaks_example9_3.csv
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

Deployed 432469ac to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed da068a58 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed cb2e8414 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 5c7e58b1 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

chore: :arrow_up: Update dependencies
  poetry.lock
Labels: root, dependencies

revert: :arrow_down: Downgrade devcontainer.json to use Python 3.10 image version 0-3.10
  .devcontainer/devcontainer.json
Labels: codespaces

chore: :arrow_up: Update devcontainer.json to use dev-3.10 Python image
  .devcontainer/devcontainer.json
Labels: codespaces

Deployed 66e8c9e7 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 1156227d to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 1c849b46 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed f2d6176f to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 96da7085 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed e5faa5ec to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

feat: :memo: Add the `cff` file for 'doi.org/10.1021/acsomega.3c09262'
  CITATION.cff
Labels: root

Deployed 2095acc6 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

feat: Update citation information in CITATION.cff file
  CITATION.cff
Labels: root

feat: Add doi badge to README.md
  README.md
Labels: root, documentation

fix: :memo: Update citation information and add DOI badge (#1326)
  CITATION.cff
  README.md
Labels: root, documentation

Deployed 22e889a3 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/index.html
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

feat: :memo: Update citation information and add DOI badge
  CITATION.cff
Labels: root

build: :bookmark: Bump SpectraFit version to `1.0.1`
  poetry.lock
  pyproject.toml
  spectrafit/__init__.py
Labels: root, dependencies, python, release, maintenance

docs: :card_index_dividers: Update CHANGELOG for release/v1.0.1
  CHANGELOG.md
Labels: root, changelog

Set default version to latest with mike 2.1.1
  index.html
Labels: root

docs: :card_index_dividers: Update CHANGELOG for release/v1.0.1
  CHANGELOG.md
Labels: root, changelog

Deployed dfbbdfa2 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 5198436c to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed f4327f46 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 18f36e07 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

.github/labeler.yml:

root:
- changed-files:
  - any-glob-to-any-file: '*'
codeowners:
- changed-files:
  - any-glob-to-any-file: .github/CODEOWNERS
codespaces:
- changed-files:
  - any-glob-to-any-file:  .devcontainer/**
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - poetry.lock
    - github/dependabot.yml
documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - Examples/**
    - mkdocs.yml
    - README.md
    - INSTALLATION.md
forms:
- changed-files:
  - any-glob-to-any-file:
    - .github/ISSUE_TEMPLATE/**
    - .github/pull_request_template.md
github-actions:
- changed-files:
  - any-glob-to-any-file: .github/workflows/**
pre-commit:
- changed-files:
  - any-glob-to-any-file:
    - .pre-commit-config.yaml
    - .pre-commit-hooks.yaml
python:
- changed-files:
  - any-glob-to-any-file: "spectrafit/**/*.py"
testing:
- changed-files:
  - any-glob-to-any-file: "spectrafit/**/test_*.py"
docker:
- changed-files:
  - any-glob-to-any-file:
    - Dockerfile
    - .dockerignore
    - .devcontainer/Dockerfile
release:
- changed-files:
    - any-glob-to-any-file: spectrafit/__init__.py
vendor:
- changed-files:
  - any-glob-to-any-file: vendor/**
maintenance:
- changed-files:
  - any-glob-to-any-file:
    - .gitignore
    - .github/dependabot.yml
    - .github/release-drafter.yml
    - .github/labeler.yml
    - .github/workflows/label.yml
    - .sonarcloud.properties
    - .pre-commit-config.yaml
    - .prettierignore
    - .pylintrc
    - .sonarcloud.properties
    - .sourcery.yaml
    - "pyproject.toml"
license:
- changed-files:
  - any-glob-to-any-file:
    - LICENSE
    - THIRD_PARTY_LICENSES
security:
- changed-files:
  - any-glob-to-any-file: SECURITY.md
code-of-conduct:
- changed-files:
  - any-glob-to-any-file: CODE_OF_CONDUCT.md
changelog:
- changed-files:
  - any-glob-to-any-file: CHANGELOG.md
