Repository Anselmoo/spectrafit, changes with the labels that .github/labeler.yml gives for each.
All labels: root, codeowners, codespaces, dependencies, documentation, forms, github-actions, pre-commit, python, testing, docker, release, vendor, maintenance, license, security, code-of-conduct, changelog

.github/labeler.yml:

root:
- changed-files:
  - any-glob-to-any-file: '*'
codeowners:
- changed-files:
  - any-glob-to-any-file: .github/CODEOWNERS
codespaces:
- changed-files:
  - any-glob-to-any-file:  .devcontainer/**
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - poetry.lock
    - github/dependabot.yml
documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - Examples/**
    - mkdocs.yml
    - README.md
    - INSTALLATION.md
forms:
- changed-files:
  - any-glob-to-any-file:
    - .github/ISSUE_TEMPLATE/**
    - .github/pull_request_template.md
github-actions:
- changed-files:
  - any-glob-to-any-file: .github/workflows/**
pre-commit:
- changed-files:
  - any-glob-to-any-file:
    - .pre-commit-config.yaml
    - .pre-commit-hooks.yaml
python:
- changed-files:
  - any-glob-to-any-file: "spectrafit/**/*.py"
testing:
- changed-files:
  - any-glob-to-any-file: "spectrafit/**/test_*.py"
docker:
- changed-files:
  - any-glob-to-any-file:
    - Dockerfile
    - .dockerignore
    - .devcontainer/Dockerfile
release:
- changed-files:
    - any-glob-to-any-file: spectrafit/__init__.py
vendor:
- changed-files:
  - any-glob-to-any-file: vendor/**
maintenance:
- changed-files:
  - any-glob-to-any-file:
    - .gitignore
    - .github/dependabot.yml
    - .github/release-drafter.yml
    - .github/labeler.yml
    - .github/workflows/label.yml
    - .sonarcloud.properties
    - .pre-commit-config.yaml
    - .prettierignore
    - .pylintrc
    - .sonarcloud.properties
    - .sourcery.yaml
    - "pyproject.toml"
license:
- changed-files:
  - any-glob-to-any-file:
    - LICENSE
    - THIRD_PARTY_LICENSES
security:
- changed-files:
  - any-glob-to-any-file: SECURITY.md
code-of-conduct:
- changed-files:
  - any-glob-to-any-file: CODE_OF_CONDUCT.md
changelog:
- changed-files:
  - any-glob-to-any-file: CHANGELOG.md

Deployed 79ef1a40 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

fix(deps): update dependency scikit-learn to v1.5.0 Fixes #1341
  pyproject.toml
Labels: root, maintenance

chore: update dependencies
  poetry.lock
Labels: root, dependencies

chore: update mkdocs-material and mkdocstrings dependencies
  pyproject.toml
Labels: root, maintenance

bump: :arrow_up: Update scikit-learn dependency to v1.5.0 (#1347)
  poetry.lock
  pyproject.toml
Labels: root, dependencies, maintenance

Deployed 77708a41 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

chore: :construction_worker: update itables dependency to v2.1.1
  poetry.lock
  pyproject.toml
Labels: root, dependencies, maintenance

chore: :construction_worker: update mkdocs-autorefs and mkdocs-minify-plugin dependencies
  poetry.lock
  pyproject.toml
Labels: root, dependencies, maintenance

docs: :rotating_light: Applied new linting
  docs/changelogs/v0.x.x.md
  docs/doc/statistics.md
Labels: documentation

ci: :ambulance: Temporarily disable pre-commit in python-ci.yml
  .github/workflows/python-ci.yml
Labels: github-actions

Deployed aca3b726 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/changelogs/v0.x.x/v0.x.x.md
  develop/doc/statistics/statistics.md
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

build: :arrow_up: Update dependencies
  poetry.lock
Labels: root, dependencies

docs: :rotating_light: Fix formatting issues in documentation
  docs/changelogs/v0.x.x.md
  docs/doc/statistics.md
Labels: documentation

docs: :rotating_light: Change order of reference and footnotes
  docs/doc/statistics.md
Labels: documentation

docs: :recycle: Change order of comment of `Printout`
  docs/changelogs/v0.x.x.md
Labels: documentation

fix: :wrench: Update dependencies and fix formatting issues in documentation (#1357)
  docs/changelogs/v0.x.x.md
  docs/doc/statistics.md
  poetry.lock
Labels: root, dependencies, documentation

Deployed 8233279a to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/changelogs/v0.x.x/index.html
  develop/changelogs/v0.x.x/v0.x.x.md
  develop/doc/statistics/statistics.md
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 699084e1 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

docs: :rotating_light: Fix formatting issues in documentation
  docs/doc/statistics.md
Labels: documentation

Deployed f577a1d3 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

ci: :green_heart: Update GitHub Actions workflow to include pre-commit step
  .github/workflows/python-ci.yml
Labels: github-actions

chore: :green_heart: Remove comment
  .github/workflows/python-ci.yml
Labels: github-actions

chore: :pencil2: Fix typo in documentation
  docs/doc/statistics.md
Labels: documentation

docs: :rotating_light: Fix formatting issues in documentation (#1364)
  .github/workflows/python-ci.yml
  docs/doc/statistics.md
Labels: documentation, github-actions

Deployed 9dd80598 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/doc/statistics/index.html
  develop/doc/statistics/statistics.md
  develop/search/search_index.json
Labels: none

chore: :pencil2: Update CITATION.cff
  CITATION.cff
Labels: root

Deployed 6c34b449 to develop with MkDocs 1.6.0 and mike 2.1.1
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed a08e61df to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 92e5b51b to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 3af8adf2 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 72cea397 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 181e1db1 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed a7d34920 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed ff3abe46 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 31d90aeb to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

build: :arrow_up: update docker dependencies
  poetry.lock
Labels: root, dependencies

fix: :test_tube: Skip tests on Windows and Python < 3.10
  spectrafit/plugins/test/test_notebook.py
Labels: python, testing

fix: :test_tube: Skip tests on Python < 3.10
  spectrafit/plugins/test/test_rixs_visualizer.py
Labels: python, testing

fix: :test_tube: Update import statement for RIXSApp in test_rixs_visualizer.py
  spectrafit/plugins/test/test_rixs_visualizer.py
Labels: python, testing

fix: :bug: Update import statement for RIXSApp in test_rixs_visualizer.py
  spectrafit/plugins/test/test_rixs_visualizer.py
Labels: python, testing
