Repository Anselmoo/spectrafit, changes with the labels that .github/labeler.yml gives for each.
All labels: root, codeowners, codespaces, dependencies, documentation, forms, github-actions, pre-commit, python, testing, docker, release, vendor, maintenance, license, security, code-of-conduct, changelog

.github/labeler.yml:

root:
- changed-files:
  - any-glob-to-any-file: '*'
codeowners:
- changed-files:
  - any-glob-to-any-file: .github/CODEOWNERS
codespaces:
- changed-files:
  - any-glob-to-any-file:  .devcontainer/**
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - poetry.lock
    - github/dependabot.yml
documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - Examples/**
    - mkdocs.yml
    - README.md
    - INSTALLATION.md
forms:
- changed-files:
  - any-glob-to-any-file:
    - .github/ISSUE_TEMPLATE/**
    - .github/pull_request_template.md
github-actions:
- changed-files:
  - any-glob-to-any-file: .github/workflows/**
pre-commit:
- changed-files:
  - any-glob-to-any-file:
    - .pre-commit-config.yaml
    - .pre-commit-hooks.yaml
python:
- changed-files:
  - any-glob-to-any-file: "spectrafit/**/*.py"
testing:
- changed-files:
  - any-glob-to-any-file: "spectrafit/**/test_*.py"
docker:
- changed-files:
  - any-glob-to-any-file:
    - Dockerfile
    - .dockerignore
    - .devcontainer/Dockerfile
release:
- changed-files:
    - any-glob-to-any-file: spectrafit/__init__.py
vendor:
- changed-files:
  - any-glob-to-any-file: vendor/**
maintenance:
- changed-files:
  - any-glob-to-any-file:
    - .gitignore
    - .github/dependabot.yml
    - .github/release-drafter.yml
    - .github/labeler.yml
    - .github/workflows/label.yml
    - .sonarcloud.properties
    - .pre-commit-config.yaml
    - .prettierignore
    - .pylintrc
    - .sonarcloud.properties
    - .sourcery.yaml
    - "pyproject.toml"
license:
- changed-files:
  - any-glob-to-any-file:
    - LICENSE
    - THIRD_PARTY_LICENSES
security:
- changed-files:
  - any-glob-to-any-file: SECURITY.md
code-of-conduct:
- changed-files:
  - any-glob-to-any-file: CODE_OF_CONDUCT.md
changelog:
- changed-files:
  - any-glob-to-any-file: CHANGELOG.md

Deployed 54857ab1 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 0bbdc429 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 7e99984f to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

chore: :pencil2: update dependencies in weekly-poetry-bot.yml
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

refactor: :recycle: Refactor dictionary comprehension for generating report
  spectrafit/report.py
Labels: python

Deployed 0445e3f0 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/api/reporting_api/index.html
  develop/search/search_index.json
Labels: none

chore: :recycle: Update RIXSConverter class documentation and argument descriptions
  spectrafit/plugins/rixs_converter.py
Labels: python

Deployed 88280d08 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/api/converter_api/index.html
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

build: :lock: Warning for the end of support for `Python 3.8` is approaching
  spectrafit/__init__.py
Labels: python, release

Deployed 9d7ce9c2 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

chore: :green_heart: update dependencies for `poetry.lock` reporting
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

refactor: :recycle: File I/O operations for better readability and maintainability
  spectrafit/plugins/data_converter.py
  spectrafit/plugins/file_converter.py
  spectrafit/plugins/notebook.py
  spectrafit/plugins/pkl_converter.py
  spectrafit/plugins/pkl_visualizer.py
  spectrafit/plugins/pptx_converter.py
  spectrafit/plugins/rixs_converter.py
  spectrafit/plugins/rixs_visualizer.py
  spectrafit/tools.py
Labels: python

Deployed 699fe00c to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/api/converter_api/index.html
  develop/api/notebook_api/index.html
  develop/api/tools_api/index.html
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 11a7d0df to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

build: :bookmark: Bump version to `v1.0.5`
  poetry.lock
  pyproject.toml
  spectrafit/__init__.py
Labels: root, dependencies, python, release, maintenance

Deployed d8aae61c to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

chore: :pushpin: Update Python version range in CI workflow and pyproject.toml
  .github/workflows/python-ci.yml
  pyproject.toml
Labels: root, github-actions, maintenance

docs: :card_index_dividers: Update CHANGELOG for release/v1.0.5
  CHANGELOG.md
Labels: root, changelog

docs: :card_index_dividers: Update CHANGELOG for release/v1.0.5
  CHANGELOG.md
Labels: root, changelog

Deployed 4becc8de to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed aa5a9f13 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

refactor: :recycle: Refactor DataFramePlot methods to improve clarity
  spectrafit/plugins/notebook.py
Labels: python

refactor: :recycle: Optimize num_fits calculation in DataFramePlot class
  spectrafit/plugins/notebook.py
Labels: python

Deployed f5555e15 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/api/notebook_api/index.html
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

refactor: :recycle: Improve Python 3.8 deprecation warning message format
  spectrafit/__init__.py
Labels: python, release

refactor: :recycle: Update docstrings to use 'dataframe' consistently
  spectrafit/plugins/notebook.py
Labels: python

test: :white_check_mark: Add unit tests for SpectraFit version and Python 3.8 deprecation warning
  spectrafit/test/test_init.py
Labels: python, testing

test: :white_check_mark: Add unit tests for SpectraFit version and Python 3.8 deprecation warning (#1641)
  spectrafit/__init__.py
  spectrafit/plugins/notebook.py
  spectrafit/test/test_init.py
Labels: python, testing, release

Deployed 1d67899d to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/api/notebook_api/index.html
  develop/search/search_index.json
Labels: none

refactor: :recycle: Update type hints in test_converter.py to use `numpy.typing`
  spectrafit/plugins/test/test_converter.py
Labels: python, testing

chore: :package: Update dependencies in poetry.lock and pyproject.toml
  poetry.lock
  pyproject.toml
Labels: root, dependencies, maintenance

chore: :package: Update dependencies in poetry.lock and pyproject.toml (#1642)
  poetry.lock
  pyproject.toml
  spectrafit/plugins/test/test_converter.py
Labels: root, dependencies, python, testing, maintenance

chore: :closed_lock_with_key: Update lock file
  poetry.lock
Labels: root, dependencies

chore: :pushpin: Update Python version constraint
  pyproject.toml
Labels: root, maintenance

build: :arrow_up: update dependency versions
  poetry.lock
Labels: root, dependencies

chore: remove python 3.13
  .github/workflows/python-ci.yml
Labels: github-actions

fix: :pencil2: correct spelling of 'computional' to 'computational' in multiple files
  spectrafit/api/report_model.py
  spectrafit/plugins/notebook.py
  spectrafit/plugins/test/test_notebook.py
  spectrafit/report.py
Labels: python, testing

Deployed b27b1a98 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/api/data_model_api/index.html
  develop/api/notebook_api/index.html
  develop/api/reporting_api/index.html
  develop/objects.inv
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

fix: :sparkles: update Numpy to version `v2.0` via constraints
  poetry.lock
  pyproject.toml
Labels: root, dependencies, maintenance

chore: :bookmark: bump version to 1.0.6 and update dependencies for mkdocs-jupyter and mkdocs-material
  poetry.lock
  pyproject.toml
  spectrafit/__init__.py
Labels: root, dependencies, python, release, maintenance
