Repository Anselmoo/spectrafit, changes with the labels that .github/labeler.yml gives for each.
All labels: codespaces", dependencies, documentation, github-actions, python, docker, vendor, maintenance

feat: :memo: Extendings docs for Jupyter Module
  .github/workflows/label.yml
  .gitmodules
  .pre-commit-config.yaml
  Dockerfile
  LICENSE
  docs/examples/example9_3.ipynb
  docs/examples/images/Figure_9_1.png
  docs/examples/images/Figure_9_2.png
  docs/interface/usage.md
  docs/plugins/jupyter-spectrafit-interface.md
  mkdocs.yaml
  poetry.lock
  pyproject.toml
  spectrafit/__init__.py
  spectrafit/plugins/notebook.py
  spectrafit/plugins/test/test_color_schemas.py
  spectrafit/plugins/test/test_notebook.py
Labels: dependencies, documentation, github-actions, python, docker, maintenance

[ImgBot] Optimize images
  docs/examples/images/Figure_9_1.png
  docs/examples/images/Figure_9_2.png
Labels: documentation

fix: :green_heart: Add labeler v4 back
  .github/workflows/labeler.yml
Labels: github-actions

test: :sparkles: Applied builtin-in typing for Fixes #402
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  spectrafit/api/cmd_model.py
  spectrafit/api/models_model.py
  spectrafit/api/notebook_model.py
  spectrafit/api/tools_model.py
  spectrafit/app/test/test_app.py
  spectrafit/plugins/notebook.py
  spectrafit/tools.py
Labels: python, maintenance

Squashed commit of the following:
  .devcontainer/setup.sh
  .pre-commit-config.yaml
  INSTALLATION.md
  README.md
  mkdocs.yaml
  poetry.lock
  pyproject.toml
  spectrafit/__init__.py
Labels: codespaces", dependencies, documentation, python, maintenance

test: :test_tube: Finished test for notebook
  docs/plugins/jupyter-spectrafit-interface.md
  poetry.lock
  pyproject.toml
  spectrafit/plugins/notebook.py
  spectrafit/plugins/test/test_notebook.py
Labels: dependencies, documentation, python, maintenance

fix: :bug: Smelling code by duplication
  spectrafit/plugins/test/test_notebook.py
Labels: python

.github/labeler.yml:

codespaces":
  - .devcontainer/**

"dependencies":
  - poetry.lock

documentation:
  - docs/**
  - .github/ISSUE_TEMPLATE/**
  - .github/pull_request_template.md
  - Examples/**
  - mkdocs.yml
  - README.md

github-actions:
  - .github/workflows/**

python:
  - spectrafit/**

testings:
  - all: ["spectrafit/**/test_*.py"]

docker:
  - Dockerfile
  - .dockerignore
  - .devcontainer/Dockerfile

vendor:
  - vendor/**
maintenance:
  - pyproject.toml
  - poetry.lock
  - .github/dependabot.yml
  - .gitignore
  - .github/labeler.yml
  - .github/workflows/label.yml
  - .sonarcloud.properties
  - "LICENSE"
  - "CHANGELOG.md"
  - "CODE_OF_CONDUCT.md"
  - "CONTRIBUTING.md"
  - "SECURITY.md"
  - ".pre-commit-config.yaml"
  - ".prettierignore"
  - ".sonarcloud.properties"
  - ".sourcery.yaml"
