Repository Anselmoo/spectrafit, changes with the labels that .github/labeler.yml gives for each.
All labels: root, codeowners, codespaces, dependencies, documentation, forms, github-actions, pre-commit, python, testing, docker, release, vendor, maintenance, license, security, code-of-conduct, changelog

fix: :bug: update version assertion in test to match 1.0.6
  spectrafit/test/test_init.py
Labels: python, testing

fix: :bug: handle typing imports for compatibility with older Python versions
  spectrafit/__init__.py
Labels: python, release

chore: :arrow_up: update subproject commit for docker-stacks (#1651)
  poetry.lock
  pyproject.toml
  spectrafit/__init__.py
  spectrafit/test/test_init.py
Labels: root, dependencies, python, testing, release, maintenance

Deployed 03f6a32f to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

chore: :rotating_light: remove unused hooks for black, isort, flake8, pylint, and pyupgrade
  .pre-commit-config.yaml
Labels: root, pre-commit, maintenance

build: :technologist: add `RUFF` and remove unused packages from poetry.lock and pyproject.toml
  poetry.lock
  pyproject.toml
Labels: root, dependencies, maintenance

chore: :sparkles: add Ruff linter and formatter to pre-commit configuration
  .pre-commit-config.yaml
Labels: root, pre-commit, maintenance

chore: :sparkles: configure Ruff linter to fix all issues and extend ignore rules
  pyproject.toml
Labels: root, maintenance

chore: :sparkles: fix syntax by adding missing commas in function signatures
  spectrafit/api/test/test_pptx_model.py
  spectrafit/utilities/transformer.py
Labels: python, testing

chore: :sparkles: include 'spectrafit/' directory in Ruff and Ruff-format hooks
  .pre-commit-config.yaml
Labels: root, pre-commit, maintenance

feature: :sparkles: fix syntax by adding missing commas in function signatures (#1656)
  .pre-commit-config.yaml
  docs/examples/example9_2.ipynb
  docs/examples/example9_3.ipynb
  docs/examples/example9_6.ipynb
  poetry.lock
  pyproject.toml
  spectrafit/api/test/test_pptx_model.py
  spectrafit/utilities/transformer.py
Labels: root, dependencies, documentation, pre-commit, python, testing, maintenance

Deployed 81a3a4a1 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/examples/example9_2/example9_2.ipynb
  develop/examples/example9_3/example9_3.ipynb
  develop/examples/example9_6/example9_6.ipynb
  develop/search/search_index.json
Labels: none

Deployed f0400c58 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

chore: :green_heart: update pull request body format in weekly poetry bot workflow
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

refactor: update sort_pars parameter type and extract parameter name logic
  spectrafit/report.py
Labels: python

Deployed b4b97a80 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/api/reporting_api/index.html
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed d45ea665 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 6527af06 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

fix: :arrow_up: update kaleido dependency to support multiple Python versions
  poetry.lock
  pyproject.toml
Labels: root, dependencies, maintenance

Deployed 02e23556 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 7e75a332 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed f3270634 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed ac83df84 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 021dd1ca to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

chore: :bookmark: bump version to 1.1.0 and update dependencies
  poetry.lock
  pyproject.toml
  spectrafit/__init__.py
Labels: root, dependencies, python, release, maintenance

test: :adhesive_bandage: update version assertion to 1.1.0
  spectrafit/test/test_init.py
Labels: python, testing

docs: :card_index_dividers: Update CHANGELOG for release/v1.1.0
  CHANGELOG.md
Labels: root, changelog

docs: :card_index_dividers: Update CHANGELOG for release/v1.1.0
  CHANGELOG.md
Labels: root, changelog

Deployed 674e1faa to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
Labels: none

Deployed 016d138b to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 44fc1179 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 2a9a116d to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 66194c63 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

ci: :sparkles: add GitHub Actions workflow for Conda package builds
  .github/workflows/conda_check.yml
Labels: github-actions

fix: :green_heart: comment out dependency installation step in conda_check workflow
  .github/workflows/conda_check.yml
Labels: github-actions

ci: :sparkles: add GitHub Actions workflow for Conda package builds (#1736)
  .github/workflows/conda_check.yml
Labels: github-actions

Deployed 56008b65 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

chore: :sparkles: add initial configuration files for various tools and linters
  .trunk/.gitignore
  .trunk/configs/.hadolint.yaml
  .trunk/configs/.isort.cfg
  .trunk/configs/.markdownlint.yaml
  .trunk/configs/.shellcheckrc
  .trunk/configs/.yamllint.yaml
  .trunk/configs/ruff.toml
  .trunk/configs/svgo.config.js
  .trunk/trunk.yaml
Labels: none

Deployed 9f47c973 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

chore: update pre-commit configuration for argument formatting and versioning
  .pre-commit-config.yaml
Labels: root, pre-commit, maintenance

.github/labeler.yml:

root:
- changed-files:
  - any-glob-to-any-file: '*'
codeowners:
- changed-files:
  - any-glob-to-any-file: .github/CODEOWNERS
codespaces:
- changed-files:
  - any-glob-to-any-file:  .devcontainer/**
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - poetry.lock
    - github/dependabot.yml
documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - Examples/**
    - mkdocs.yml
    - README.md
    - INSTALLATION.md
forms:
- changed-files:
  - any-glob-to-any-file:
    - .github/ISSUE_TEMPLATE/**
    - .github/pull_request_template.md
github-actions:
- changed-files:
  - any-glob-to-any-file: .github/workflows/**
pre-commit:
- changed-files:
  - any-glob-to-any-file:
    - .pre-commit-config.yaml
    - .pre-commit-hooks.yaml
python:
- changed-files:
  - any-glob-to-any-file: "spectrafit/**/*.py"
testing:
- changed-files:
  - any-glob-to-any-file: "spectrafit/**/test_*.py"
docker:
- changed-files:
  - any-glob-to-any-file:
    - Dockerfile
    - .dockerignore
    - .devcontainer/Dockerfile
release:
- changed-files:
    - any-glob-to-any-file: spectrafit/__init__.py
vendor:
- changed-files:
  - any-glob-to-any-file: vendor/**
maintenance:
- changed-files:
  - any-glob-to-any-file:
    - .gitignore
    - .github/dependabot.yml
    - .github/release-drafter.yml
    - .github/labeler.yml
    - .github/workflows/label.yml
    - .sonarcloud.properties
    - .pre-commit-config.yaml
    - .prettierignore
    - .pylintrc
    - .sonarcloud.properties
    - .sourcery.yaml
    - "pyproject.toml"
license:
- changed-files:
  - any-glob-to-any-file:
    - LICENSE
    - THIRD_PARTY_LICENSES
security:
- changed-files:
  - any-glob-to-any-file: SECURITY.md
code-of-conduct:
- changed-files:
  - any-glob-to-any-file: CODE_OF_CONDUCT.md
changelog:
- changed-files:
  - any-glob-to-any-file: CHANGELOG.md
