Repository Anselmoo/spectrafit, changes with the labels that .github/labeler.yml gives for each.
All labels: root, codeowners, codespaces, dependencies, documentation, forms, github-actions, pre-commit, python, testing, docker, release, vendor, maintenance, license, security, code-of-conduct, changelog

Deployed 76502c60 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml.gz
Labels: none

Deployed d8e04321 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

build: :bookmark: Set `post` release
  pyproject.toml
  spectrafit/__init__.py
Labels: root, python, release, maintenance

chore: :rotating_light: Refactor pyproject.toml exclude and networkx dependencies
  pyproject.toml
Labels: root, maintenance

chore: :bookmark: Update dependencies and version number (#1175)
  pyproject.toml
  spectrafit/__init__.py
Labels: root, python, release, maintenance

Deployed 58bbd167 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

feat: :sparkles: Add test cases for FitReport class
  spectrafit/report.py
  spectrafit/test/test_report.py
Labels: python, testing

build: :arrow_up: Update mkdocstrings version in pyproject.toml
  poetry.lock
  pyproject.toml
Labels: root, dependencies, maintenance

fix: :rotating_light: Refactor class and method names in report.py
  spectrafit/report.py
Labels: python

fix: :test_tube: Fix exception handling in FitReport class
  spectrafit/report.py
Labels: python

feat: :sparkles: Add test cases for FitReport class (#1179)
  poetry.lock
  pyproject.toml
  spectrafit/report.py
  spectrafit/test/test_report.py
Labels: root, dependencies, python, testing, maintenance

fix: :seedling: Reorganize report generation in report.py
  spectrafit/report.py
Labels: python

Deployed 8c728c9e to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/api/reporting_api/index.html
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

build: :arrow_up: Update `scipy` version to 1.12.0
  poetry.lock
  pyproject.toml
Labels: root, dependencies, maintenance

feat: :sparkles: Add CIReport class for generating confidence interval reports
  spectrafit/report.py
  spectrafit/test/test_report.py
Labels: python, testing

feat: :sparkles: add CIReport class (#1181)
  poetry.lock
  pyproject.toml
  spectrafit/report.py
  spectrafit/test/test_report.py
Labels: root, dependencies, python, testing, maintenance

Deployed c8d0b27d to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/api/reporting_api/index.html
  develop/objects.inv
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

fix: :rotating_light: Refactor test_CIReport function name to test_ci_report
  spectrafit/test/test_report.py
Labels: python, testing

refactor: :recycle: Cleanup code into seperate functions
  spectrafit/report.py
Labels: python

refactor: :recycle: Cleanup code into seperate functions
  spectrafit/report.py
Labels: python

fix: :rotating_light: Refactor test_CIReport function name to test_ci_report
  spectrafit/test/test_report.py
Labels: python, testing

refactor: :recycle: Cleanup code into seperate functions (#1183)
  spectrafit/report.py
  spectrafit/test/test_report.py
Labels: python, testing

Deployed 57456ec2 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/api/reporting_api/index.html
  develop/objects.inv
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

docs: :card_index_dividers: Update CHANGELOG for release/v1.0.0.post0
  CHANGELOG.md
Labels: root, changelog

Deployed 39ad51eb to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

fix: :bug: add missing `100%x` in FitReport class
  poetry.lock
  pyproject.toml
  spectrafit/__init__.py
  spectrafit/report.py
Labels: root, dependencies, python, release, maintenance

docs: :card_index_dividers: Update CHANGELOG for release/v1.0.0.post1
  CHANGELOG.md
Labels: root, changelog

Deployed 9012c796 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 4f23642d to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml.gz
Labels: none

Deployed c90d4260 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

build: :arrow_up: Update dependencies in pyproject.toml
  poetry.lock
  pyproject.toml
Labels: root, dependencies, maintenance

build: :arrow_up: Update dependencies in pyproject.toml (#1201)
  .github/workflows/python-ci.yml
  poetry.lock
  pyproject.toml
Labels: root, dependencies, github-actions, maintenance

build: :arrow_up: Dependencies update
  poetry.lock
Labels: root, dependencies

build: :zap: Update to latest actions
  .github/workflows/docker-cd.yml
  .github/workflows/docker-ci.yml
  .github/workflows/release-cd.yml
Labels: github-actions

Deployed ab178234 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 987358a9 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml.gz
Labels: none

Deployed 457cad45 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml.gz
Labels: none

ci: :recycle: Update Codecov action configuration
  .github/workflows/python-ci.yml
Labels: github-actions

ci: :test_tube: Change from dot to regular file
  codecov.yml
Labels: root

ci: :sparkles: Add GitHub checks annotations to codecov.yml
  codecov.yml
Labels: root

.github/labeler.yml:

root:
- changed-files:
  - any-glob-to-any-file: '*'
codeowners:
- changed-files:
  - any-glob-to-any-file: .github/CODEOWNERS
codespaces:
- changed-files:
  - any-glob-to-any-file:  .devcontainer/**
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - poetry.lock
    - github/dependabot.yml
documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - Examples/**
    - mkdocs.yml
    - README.md
    - INSTALLATION.md
forms:
- changed-files:
  - any-glob-to-any-file:
    - .github/ISSUE_TEMPLATE/**
    - .github/pull_request_template.md
github-actions:
- changed-files:
  - any-glob-to-any-file: .github/workflows/**
pre-commit:
- changed-files:
  - any-glob-to-any-file:
    - .pre-commit-config.yaml
    - .pre-commit-hooks.yaml
python:
- changed-files:
  - any-glob-to-any-file: "spectrafit/**/*.py"
testing:
- changed-files:
  - any-glob-to-any-file: "spectrafit/**/test_*.py"
docker:
- changed-files:
  - any-glob-to-any-file:
    - Dockerfile
    - .dockerignore
    - .devcontainer/Dockerfile
release:
- changed-files:
    - any-glob-to-any-file: spectrafit/__init__.py
vendor:
- changed-files:
  - any-glob-to-any-file: vendor/**
maintenance:
- changed-files:
  - any-glob-to-any-file:
    - .gitignore
    - .github/dependabot.yml
    - .github/release-drafter.yml
    - .github/labeler.yml
    - .github/workflows/label.yml
    - .sonarcloud.properties
    - .pre-commit-config.yaml
    - .prettierignore
    - .pylintrc
    - .sonarcloud.properties
    - .sourcery.yaml
    - "pyproject.toml"
license:
- changed-files:
  - any-glob-to-any-file:
    - LICENSE
    - THIRD_PARTY_LICENSES
security:
- changed-files:
  - any-glob-to-any-file: SECURITY.md
code-of-conduct:
- changed-files:
  - any-glob-to-any-file: CODE_OF_CONDUCT.md
changelog:
- changed-files:
  - any-glob-to-any-file: CHANGELOG.md
