Repository Anselmoo/spectrafit, changes with the labels that .github/labeler.yml gives for each.
All labels: root, codeowners, codespaces, dependencies, documentation, forms, github-actions, pre-commit, python, testing, docker, release, vendor, maintenance, license, security, code-of-conduct, changelog

Deployed be17ca0a to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Create snyk-container.yml
  .github/workflows/snyk-container.yml
Labels: github-actions

ci: 🧷 Create snyk-security.yml
  .github/workflows/snyk-security.yml
Labels: github-actions

ci: Update snyk-security.yml
  .github/workflows/snyk-security.yml
Labels: github-actions

Deployed 4867463d to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

ci: Delete .github/workflows/snyk-security.yml
  .github/workflows/snyk-security.yml
Labels: github-actions

Deployed d81468cd to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

fix: Update import statement for RIXSApp in test_rixs_visualizer.py
  poetry.lock
Labels: root, dependencies

Deployed 144b5a0a to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 0f9aff27 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed d05d789e to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 6a873765 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

build: :arrow_up: update dependencies for Docker actions
  poetry.lock
Labels: root, dependencies

build: :bookmark: Bump version to `1.0.2`
  pyproject.toml
  spectrafit/__init__.py
Labels: root, python, release, maintenance

build: :art: Introduce dependency split for `dash-templates`
  poetry.lock
  pyproject.toml
Labels: root, dependencies, maintenance

build: :ambulance: Update dash-bootstrap-templates to version 1.1.2 for `python < 3.10`
  poetry.lock
  pyproject.toml
Labels: root, dependencies, maintenance

Deployed baf5e69d to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/examples/example9_4/index.html
  develop/examples/example9_5/index.html
  develop/search/search_index.json
Labels: none

docs: :card_index_dividers: Update CHANGELOG for release/v1.0.2
  CHANGELOG.md
Labels: root, changelog

Deployed 45a8e419 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

docs: :card_index_dividers: Update CHANGELOG for release/v1.0.2
  CHANGELOG.md
Labels: root, changelog

Deployed 48b394a5 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/search/search_index.json
Labels: none

feat: :construction_worker: Update Docker dependencies for Docker actions
  .github/workflows/docker-cd.yml
Labels: github-actions

docs: :card_index_dividers: Update CHANGELOG for release/v1.0.3
  CHANGELOG.md
Labels: root, changelog

docs: :card_index_dividers: Update CHANGELOG for release/v1.0.3
  CHANGELOG.md
Labels: root, changelog

fix: :ambulance: Remove non-supported `arm7` version
  .github/workflows/docker-cd.yml
Labels: github-actions

Deployed 56ea26e3 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/search/search_index.json
Labels: none

build: :bookmark: update version to `v1.0.3`
  poetry.lock
  pyproject.toml
  spectrafit/__init__.py
Labels: root, dependencies, python, release, maintenance

chore: Update Docker actions to latest versions
  .github/workflows/docker-cd.yml
  cosign.pub
Labels: root, github-actions

build: Activate output in docker push
  .github/workflows/docker-cd.yml
Labels: github-actions

chore: Update Docker actions to latest versions and add tags for main branch and latest tag
  .github/workflows/docker-cd.yml
Labels: github-actions

build: :bookmark: Update to post-release
  poetry.lock
  pyproject.toml
  spectrafit/__init__.py
Labels: root, dependencies, python, release, maintenance

docs: :card_index_dividers: Update CHANGELOG for release/v1.0.3.post0
  CHANGELOG.md
Labels: root, changelog

docs: :card_index_dividers: Update CHANGELOG for release/v1.0.3.post0
  CHANGELOG.md
Labels: root, changelog

Deployed eec32dd7 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/search/search_index.json
Labels: none

build: :green_heart: Update Docker actions to latest versions and add tags for main branch and latest tag
  .github/workflows/docker-cd.yml
Labels: github-actions

build: :bookmark: Update `post1`-release
  poetry.lock
  pyproject.toml
  spectrafit/__init__.py
Labels: root, dependencies, python, release, maintenance

docs: :card_index_dividers: Update CHANGELOG for release/v1.0.3.post1
  CHANGELOG.md
Labels: root, changelog

Deployed 1e9cd027 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

docs: :card_index_dividers: Update CHANGELOG for release/v1.0.3.post1
  CHANGELOG.md
Labels: root, changelog

Deployed 89dbd0c1 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/search/search_index.json
Labels: none

.github/labeler.yml:

root:
- changed-files:
  - any-glob-to-any-file: '*'
codeowners:
- changed-files:
  - any-glob-to-any-file: .github/CODEOWNERS
codespaces:
- changed-files:
  - any-glob-to-any-file:  .devcontainer/**
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - poetry.lock
    - github/dependabot.yml
documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - Examples/**
    - mkdocs.yml
    - README.md
    - INSTALLATION.md
forms:
- changed-files:
  - any-glob-to-any-file:
    - .github/ISSUE_TEMPLATE/**
    - .github/pull_request_template.md
github-actions:
- changed-files:
  - any-glob-to-any-file: .github/workflows/**
pre-commit:
- changed-files:
  - any-glob-to-any-file:
    - .pre-commit-config.yaml
    - .pre-commit-hooks.yaml
python:
- changed-files:
  - any-glob-to-any-file: "spectrafit/**/*.py"
testing:
- changed-files:
  - any-glob-to-any-file: "spectrafit/**/test_*.py"
docker:
- changed-files:
  - any-glob-to-any-file:
    - Dockerfile
    - .dockerignore
    - .devcontainer/Dockerfile
release:
- changed-files:
    - any-glob-to-any-file: spectrafit/__init__.py
vendor:
- changed-files:
  - any-glob-to-any-file: vendor/**
maintenance:
- changed-files:
  - any-glob-to-any-file:
    - .gitignore
    - .github/dependabot.yml
    - .github/release-drafter.yml
    - .github/labeler.yml
    - .github/workflows/label.yml
    - .sonarcloud.properties
    - .pre-commit-config.yaml
    - .prettierignore
    - .pylintrc
    - .sonarcloud.properties
    - .sourcery.yaml
    - "pyproject.toml"
license:
- changed-files:
  - any-glob-to-any-file:
    - LICENSE
    - THIRD_PARTY_LICENSES
security:
- changed-files:
  - any-glob-to-any-file: SECURITY.md
code-of-conduct:
- changed-files:
  - any-glob-to-any-file: CODE_OF_CONDUCT.md
changelog:
- changed-files:
  - any-glob-to-any-file: CHANGELOG.md
