Repository Anselmoo/spectrafit, changes with the labels that .github/labeler.yml gives for each.
All labels: root, codeowners, codespaces, dependencies, documentation, forms, github-actions, pre-commit, python, testing, docker, release, vendor, maintenance, license, security, code-of-conduct, changelog

.github/labeler.yml:

root:
- changed-files:
  - any-glob-to-any-file: '*'
codeowners:
- changed-files:
  - any-glob-to-any-file: .github/CODEOWNERS
codespaces:
- changed-files:
  - any-glob-to-any-file:  .devcontainer/**
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - poetry.lock
    - github/dependabot.yml
documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - Examples/**
    - mkdocs.yml
    - README.md
    - INSTALLATION.md
forms:
- changed-files:
  - any-glob-to-any-file:
    - .github/ISSUE_TEMPLATE/**
    - .github/pull_request_template.md
github-actions:
- changed-files:
  - any-glob-to-any-file: .github/workflows/**
pre-commit:
- changed-files:
  - any-glob-to-any-file:
    - .pre-commit-config.yaml
    - .pre-commit-hooks.yaml
python:
- changed-files:
  - any-glob-to-any-file: "spectrafit/**/*.py"
testing:
- changed-files:
  - any-glob-to-any-file: "spectrafit/**/test_*.py"
docker:
- changed-files:
  - any-glob-to-any-file:
    - Dockerfile
    - .dockerignore
    - .devcontainer/Dockerfile
release:
- changed-files:
    - any-glob-to-any-file: spectrafit/__init__.py
vendor:
- changed-files:
  - any-glob-to-any-file: vendor/**
maintenance:
- changed-files:
  - any-glob-to-any-file:
    - .gitignore
    - .github/dependabot.yml
    - .github/release-drafter.yml
    - .github/labeler.yml
    - .github/workflows/label.yml
    - .sonarcloud.properties
    - .pre-commit-config.yaml
    - .prettierignore
    - .pylintrc
    - .sonarcloud.properties
    - .sourcery.yaml
    - "pyproject.toml"
license:
- changed-files:
  - any-glob-to-any-file:
    - LICENSE
    - THIRD_PARTY_LICENSES
security:
- changed-files:
  - any-glob-to-any-file: SECURITY.md
code-of-conduct:
- changed-files:
  - any-glob-to-any-file: CODE_OF_CONDUCT.md
changelog:
- changed-files:
  - any-glob-to-any-file: CHANGELOG.md

chore: :rotating_light: update ruff version to v0.8.4 and comment out prettier configuration
  .pre-commit-config.yaml
Labels: root, pre-commit, maintenance

chore: remove commented-out prettier configuration from pre-commit config
  .pre-commit-config.yaml
Labels: root, pre-commit, maintenance

chore: :sparkles: add empty file for actionlint
  .github/actionlint.yaml
Labels: none

ci: :heavy_minus_sign: disable black and isort linters in trunk configuration
  .trunk/trunk.yaml
Labels: none

build: :arrow_up: update configuration files for improved linting and formatting
  poetry.lock
Labels: root, dependencies

refactor: simplify file writing logic in PklVisualizer
  spectrafit/plugins/pkl_visualizer.py
Labels: python

refactor: streamline file handling in ExportResults and ensure safe YAML loading
  spectrafit/plugins/notebook.py
  spectrafit/tools.py
Labels: python

test: skip tests for Python versions lower than 3.9
  spectrafit/plugins/test/test_converter.py
  spectrafit/plugins/test/test_rixs_visualizer.py
Labels: python, testing

fix: update YAML loading to use deprecated method for compatibility
  spectrafit/tools.py
Labels: python

refactor: :recycle: simplify file opening logic in RIXSConverter
  spectrafit/plugins/rixs_converter.py
Labels: python

refactor: simplify Poetry installation logic in CI workflow
  .github/workflows/python-ci.yml
Labels: github-actions

test: skip tests for Python versions lower than 3.9
  spectrafit/plugins/test/test_rixs_visualizer.py
Labels: python, testing

test: skip tests and import for Python versions lower than 3.9
  spectrafit/plugins/test/test_converter.py
  spectrafit/plugins/test/test_rixs_visualizer.py
Labels: python, testing

test: add Python version check for tests requiring Python 3.9 or higher
  spectrafit/plugins/test/test_converter.py
Labels: python, testing

test: skip RIXSApp tests for Python versions lower than 3.9
  spectrafit/plugins/test/test_rixs_visualizer.py
Labels: python, testing

chore: update mypy version to 1.14.0 in pre-commit configuration
  .pre-commit-config.yaml
Labels: root, pre-commit, maintenance

fix: ensure consistent use of float64 dtype in array operations and tests
  spectrafit/models.py
  spectrafit/plugins/test/test_converter.py
  spectrafit/plugins/test/test_rixs_visualizer.py
  spectrafit/test/test_models.py
Labels: python, testing

build: :arrow_up: update configuration files for improved linting and formattingUpdate linting and formatting configurations (#1749)
  .github/actionlint.yaml
  .github/workflows/python-ci.yml
  .pre-commit-config.yaml
  .trunk/trunk.yaml
  poetry.lock
  spectrafit/models.py
  spectrafit/plugins/notebook.py
  spectrafit/plugins/pkl_visualizer.py
  spectrafit/plugins/rixs_converter.py
  spectrafit/plugins/test/test_converter.py
  spectrafit/plugins/test/test_rixs_visualizer.py
  spectrafit/test/test_models.py
Labels: root, dependencies, github-actions, pre-commit, python, testing, maintenance

Deployed 23a8b889 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 2b725d4d to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/examples/example9_4/index.html
  develop/examples/example9_5/index.html
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 818a6e57 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed c027beae to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 7dc0b690 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed aac5b928 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 91983ffc to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

bump: :arrow_up: Update version to 1.1.1
  pyproject.toml
  spectrafit/__init__.py
Labels: root, python, release, maintenance

Deployed 4011a888 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

feat: :sparkles: Introduce UV instead of poetry
  pyproject.toml
  uv.lock
Labels: root, maintenance

feat: :wrench: bump version to 1.2.0 and update tests
  spectrafit/__init__.py
  spectrafit/test/test_init.py
  spectrafit/test/test_models.py
Labels: python, testing, release

chore: :sparkles: update project configuration and improve build process
  poetry.lock
Labels: root, dependencies

feat: :sparkles: migrate CI workflow from Poetry to UV for dependency management
  .github/workflows/python-ci.yml
Labels: github-actions

fix: :white_check_mark: clean up file handling and remove unnecessary type ignore in tests
  spectrafit/plugins/rixs_converter.py
  spectrafit/test/test_models.py
Labels: python, testing

fix: :white_check_mark: update pre-commit configuration to exclude uv.lock instead of poetry.lock
  .pre-commit-config.yaml
Labels: root, pre-commit, maintenance
