Repository Anselmoo/spectrafit, changes with the labels that .github/labeler.yml gives for each.
All labels: root, codeowners, codespaces, dependencies, documentation, forms, github-actions, pre-commit, python, testing, docker, release, vendor, maintenance, license, security, code-of-conduct, changelog

docs: :memo: Reorganize the changelogs (old/new)
  CHANGELOG.md
  docs/changelogs/v0.x.x.md
Labels: root, documentation, changelog

Deployed 675efa81 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/api/data_model_api/index.html
  develop/api/modelling_api/index.html
  develop/api/notebook_api/index.html
  develop/api/reporting_api/index.html
  develop/api/tools_api/index.html
  develop/objects.inv
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 83ab4d1a to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/changelog/index.html
  develop/changelogs/v0.x.x/index.html
  develop/changelogs/v0.x.x/v0.x.x.md
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

refactor: :recycle: Update regression metrics in PPTXLayoutAPI
  spectrafit/api/pptx_model.py
Labels: python

refactor: :recycle: Update model_dump() method calls
  spectrafit/api/test/test_cmd_model.py
  spectrafit/plugins/notebook.py
Labels: python, testing

test: :white_check_mark: Replace `random.rand` to `random.default_rng`
  spectrafit/test/test_models.py
  spectrafit/test/test_report.py
  spectrafit/test/test_tools.py
  tools/spectra_generator.py
Labels: python, testing

refactor: 💡 Add sonartypes recommendations (#1138)
  spectrafit/api/pptx_model.py
  spectrafit/api/test/test_cmd_model.py
  spectrafit/plugins/notebook.py
  spectrafit/test/test_models.py
  spectrafit/test/test_report.py
  spectrafit/test/test_tools.py
  tools/spectra_generator.py
Labels: python, testing

Deployed 56eb2687 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/api/data_model_api/index.html
  develop/api/notebook_api/index.html
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

Deployed d175a64c to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

fix: :arrow_up: Update `poetry.lock`
  poetry.lock
Labels: root, dependencies

Deployed 07b8970d to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml.gz
Labels: none

feat: :sparkles: Refactor confidence interval calculation and transform nested types
  spectrafit/report.py
  spectrafit/test/test_tools.py
  spectrafit/tools.py
Labels: python, testing

chore: :recycle: Update type hints and function signature
  spectrafit/plugins/data_converter.py
  spectrafit/plugins/notebook.py
Labels: python

chore: :page_facing_up: Update vendor URL in Dockerfile
  Dockerfile
Labels: root, docker

feat: :sparkles: Add conda environment setup scripts for fish and zsh shells
  tools/conda_env.fish
  tools/conda_env.zsh
Labels: none

test: :white_check_mark: Add min_rel_change parameter to `args_1()` function
  spectrafit/test/test_tools.py
Labels: python, testing

test: :white_check_mark: Add "min_rel_change": 10e-6 for testing
  spectrafit/test/scripts/test_input_1.json
Labels: none

fix: :test_tube: Use `pytest` marker for testing `ConfidenceInterval`
  spectrafit/test/test_tools.py
Labels: python, testing

feat: ✨ Introduce `min_rel` for confidence integrals (#1142)
  Dockerfile
  spectrafit/plugins/data_converter.py
  spectrafit/plugins/notebook.py
  spectrafit/report.py
  spectrafit/test/scripts/test_input_1.json
  spectrafit/test/test_tools.py
  spectrafit/tools.py
  tools/conda_env.fish
  tools/conda_env.zsh
Labels: root, python, testing, docker

Deployed eff5ed22 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/api/converter_api/index.html
  develop/api/notebook_api/index.html
  develop/api/reporting_api/index.html
  develop/api/tools_api/index.html
  develop/objects.inv
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

build: :bookmark: Update dependencies and version numbers
  poetry.lock
  pyproject.toml
  spectrafit/__init__.py
Labels: root, dependencies, python, release, maintenance

Deployed 7c704cdc to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 308bdcc2 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

ci: Update dependabot.yml
  .github/dependabot.yml
Labels: maintenance

fix: Update intensity values in test_models.py
  spectrafit/test/test_models.py
Labels: python, testing

Deployed 2c9c2554 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 70fdb0ec to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml.gz
Labels: none

Deployed dde3fa97 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

build: :arrow_up: Update `black` and `pytest`
  poetry.lock
  pyproject.toml
Labels: root, dependencies, maintenance

docs: :recycle: Refactor model parameter assignment in `models.py`
  docs/doc/models.md
Labels: documentation

ci: :construction: Add pre-commit setup and caching
  .github/workflows/python-ci.yml
Labels: github-actions

fix: :memo: Fix model parameter assignment
  docs/doc/models.md
Labels: documentation

build: :arrow_up: Update dtale version to 3.9.0
  poetry.lock
  pyproject.toml
Labels: root, dependencies, maintenance

fix: :green_heart: Update pre-commit-config.yaml and models.md
  .pre-commit-config.yaml
  docs/doc/models.md
Labels: root, documentation, pre-commit, maintenance

Deployed 9a264e22 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

Deployed 217bbb33 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 05ef146a to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml.gz
Labels: none

Deployed 6af08773 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

Deployed 9522869f to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed c882031d to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

.github/labeler.yml:

root:
- changed-files:
  - any-glob-to-any-file: '*'
codeowners:
- changed-files:
  - any-glob-to-any-file: .github/CODEOWNERS
codespaces:
- changed-files:
  - any-glob-to-any-file:  .devcontainer/**
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - poetry.lock
    - github/dependabot.yml
documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - Examples/**
    - mkdocs.yml
    - README.md
    - INSTALLATION.md
forms:
- changed-files:
  - any-glob-to-any-file:
    - .github/ISSUE_TEMPLATE/**
    - .github/pull_request_template.md
github-actions:
- changed-files:
  - any-glob-to-any-file: .github/workflows/**
pre-commit:
- changed-files:
  - any-glob-to-any-file:
    - .pre-commit-config.yaml
    - .pre-commit-hooks.yaml
python:
- changed-files:
  - any-glob-to-any-file: "spectrafit/**/*.py"
testing:
- changed-files:
  - any-glob-to-any-file: "spectrafit/**/test_*.py"
docker:
- changed-files:
  - any-glob-to-any-file:
    - Dockerfile
    - .dockerignore
    - .devcontainer/Dockerfile
release:
- changed-files:
    - any-glob-to-any-file: spectrafit/__init__.py
vendor:
- changed-files:
  - any-glob-to-any-file: vendor/**
maintenance:
- changed-files:
  - any-glob-to-any-file:
    - .gitignore
    - .github/dependabot.yml
    - .github/release-drafter.yml
    - .github/labeler.yml
    - .github/workflows/label.yml
    - .sonarcloud.properties
    - .pre-commit-config.yaml
    - .prettierignore
    - .pylintrc
    - .sonarcloud.properties
    - .sourcery.yaml
    - "pyproject.toml"
license:
- changed-files:
  - any-glob-to-any-file:
    - LICENSE
    - THIRD_PARTY_LICENSES
security:
- changed-files:
  - any-glob-to-any-file: SECURITY.md
code-of-conduct:
- changed-files:
  - any-glob-to-any-file: CODE_OF_CONDUCT.md
changelog:
- changed-files:
  - any-glob-to-any-file: CHANGELOG.md
