Repository Anselmoo/spectrafit, changes with the labels that .github/labeler.yml gives for each.
All labels: root, codeowners, codespaces, dependencies, documentation, forms, github-actions, pre-commit, python, testing, docker, release, vendor, maintenance, license, security, code-of-conduct, changelog

fix: :green_heart: Refactoring `weekly-poetry-bot.yml`
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

ci: :test_tube: Update cron schedule for weekly poetry bot to run every hour
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

Deployed e7e861ad to develop with MkDocs 1.6.0 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Revert "ci: :test_tube: Update cron schedule for weekly poetry bot to run every hour"
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

Deployed 6cedbd34 to develop with MkDocs 1.6.0 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 8d2065d1 to develop with MkDocs 1.6.0 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Update README.md
  README.md
Labels: root, documentation

fix: :book: Add Sourcery suggestion
  README.md
Labels: root, documentation

docs: 📖 Update README.md (#1525)
  README.md
Labels: root, documentation

Deployed ced5e88f to develop with MkDocs 1.6.0 and mike 2.1.3
  develop/index.html
  develop/search/search_index.json
Labels: none

fix: :green_heart: Fix change weekly update
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

fix: :green_heart: Update GitHub Actions workflow to use 'gh pr merge' command
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

fix: :green_heart: Update GitHub Actions workflow to use 'gh pr merge' command (#1528)
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

Deployed 0d662ac1 to develop with MkDocs 1.6.0 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

fix: :heavy_minus_sign: Remove `git push`
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

fix: :heavy_minus_sign: Remove `git push` (#1529)
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

fix: :bug: Add git push
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

fix: :green_heart: Set branch as env variable
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

fix: :page_facing_up: Update GitHub Actions workflow to use 'gh pr merge' command
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

ci: :white_check_mark: Deactivate auto merge
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

ci: :sparkles: Add label to Pull Request and wait for required checks before merging
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

ci: :green_heart: Add repository_dispatch event to GitHub Actions workflows
  .github/workflows/codeql.yml
  .github/workflows/docker-ci.yml
  .github/workflows/python-ci.yml
Labels: github-actions

ci: :green_heart: Update GitHub Actions workflow to include the --fill flag
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

weekly-poetry-bot.yml aktualisieren
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

ci: :green_heart: Update GitHub Actions workflow
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

chore: :construction_worker: Update weekly-poetry-bot.yml to run every Sunday at midnight
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

Deployed c142b2fb to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed cef413f1 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 16faa48e to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/examples/example9_4/index.html
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

chore: :pencil2: update pull request body to mention `poetry.lock`
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

build: :bookmark: Bump version to `v1.0.4`
  poetry.lock
  pyproject.toml
  spectrafit/__init__.py
Labels: root, dependencies, python, release, maintenance

Deployed 248df437 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/api/converter_api/index.html
  develop/api/modelling_api/index.html
  develop/api/reporting_api/index.html
  develop/api/spectrafit_api/index.html
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

docs: :card_index_dividers: Update CHANGELOG for release/v1.0.4
  CHANGELOG.md
Labels: root, changelog

docs: :card_index_dividers: Update CHANGELOG for release/v1.0.4
  CHANGELOG.md
Labels: root, changelog

Deployed fbbc3cdf to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/changelog/index.html
  develop/search/search_index.json
Labels: none

Deployed 648715d1 to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/api/converter_api/index.html
  develop/api/modelling_api/index.html
  develop/api/reporting_api/index.html
  develop/api/spectrafit_api/index.html
  develop/examples/example9_4/index.html
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

build: :arrow_up: Update mkdocs-jupyter dependency to version `0.25.0`
  poetry.lock
  pyproject.toml
Labels: root, dependencies, maintenance

chore: :white_check_mark: Update coverage report file path in pytest configuration
  pyproject.toml
Labels: root, maintenance

Deployed 78c4827e to develop with MkDocs 1.6.1 and mike 2.1.3
  develop/examples/example9_4/index.html
  develop/examples/example9_5/index.html
Labels: none

fix: :seed: Update listing
  CHANGELOG.md
Labels: root, changelog

.github/labeler.yml:

root:
- changed-files:
  - any-glob-to-any-file: '*'
codeowners:
- changed-files:
  - any-glob-to-any-file: .github/CODEOWNERS
codespaces:
- changed-files:
  - any-glob-to-any-file:  .devcontainer/**
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - poetry.lock
    - github/dependabot.yml
documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - Examples/**
    - mkdocs.yml
    - README.md
    - INSTALLATION.md
forms:
- changed-files:
  - any-glob-to-any-file:
    - .github/ISSUE_TEMPLATE/**
    - .github/pull_request_template.md
github-actions:
- changed-files:
  - any-glob-to-any-file: .github/workflows/**
pre-commit:
- changed-files:
  - any-glob-to-any-file:
    - .pre-commit-config.yaml
    - .pre-commit-hooks.yaml
python:
- changed-files:
  - any-glob-to-any-file: "spectrafit/**/*.py"
testing:
- changed-files:
  - any-glob-to-any-file: "spectrafit/**/test_*.py"
docker:
- changed-files:
  - any-glob-to-any-file:
    - Dockerfile
    - .dockerignore
    - .devcontainer/Dockerfile
release:
- changed-files:
    - any-glob-to-any-file: spectrafit/__init__.py
vendor:
- changed-files:
  - any-glob-to-any-file: vendor/**
maintenance:
- changed-files:
  - any-glob-to-any-file:
    - .gitignore
    - .github/dependabot.yml
    - .github/release-drafter.yml
    - .github/labeler.yml
    - .github/workflows/label.yml
    - .sonarcloud.properties
    - .pre-commit-config.yaml
    - .prettierignore
    - .pylintrc
    - .sonarcloud.properties
    - .sourcery.yaml
    - "pyproject.toml"
license:
- changed-files:
  - any-glob-to-any-file:
    - LICENSE
    - THIRD_PARTY_LICENSES
security:
- changed-files:
  - any-glob-to-any-file: SECURITY.md
code-of-conduct:
- changed-files:
  - any-glob-to-any-file: CODE_OF_CONDUCT.md
changelog:
- changed-files:
  - any-glob-to-any-file: CHANGELOG.md
