Repository Anselmoo/spectrafit, changes with the labels that .github/labeler.yml gives for each.
All labels: root, codeowners, codespaces, dependencies, documentation, forms, github-actions, pre-commit, python, testing, docker, release, vendor, maintenance, license, security, code-of-conduct, changelog

fix: :green_heart: Remove commented out code for Docker image tags
  .github/workflows/docker-cd.yml
Labels: github-actions

chore: Update dependencies to latest versions
  poetry.lock
  pyproject.toml
  spectrafit/__init__.py
Labels: root, dependencies, python, release, maintenance

chore: :green_heart: Update dependencies to latest versions (#1457)
  .github/workflows/docker-cd.yml
  poetry.lock
  pyproject.toml
  spectrafit/__init__.py
Labels: root, dependencies, github-actions, python, release, maintenance

docs: :card_index_dividers: Update CHANGELOG for release/1.0.3.post2
  CHANGELOG.md
Labels: root, changelog

docs: :card_index_dividers: Update CHANGELOG for release/v1.0.3.post2
  CHANGELOG.md
Labels: root, changelog

docs: :card_index_dividers: Update CHANGELOG for release/1.0.3.post2
  CHANGELOG.md
Labels: root, changelog

Deployed bf6741c8 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/changelog/index.html
  develop/search/search_index.json
Labels: none

Deployed 59355b77 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

docs: :memo: Update `cosign` installation instructions and add verification steps
  INSTALLATION.md
Labels: root, documentation

Deployed ad8896fc to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/interface/installation/index.html
  develop/search/search_index.json
Labels: none

Deployed e7d6fbaa to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 386edd3d to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

docs: :memo: docs: Update `SpectraFit` documentation link and add badge
  README.md
Labels: root, documentation

Deployed 4c3cec34 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/index.html
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed b70b59c5 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed e8ecda82 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 1d8f3129 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

feat: :construction_worker: Add an automatic poetry update workflow
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

Deployed 11176131 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Apply suggestions from code review
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

Apply suggestions from code review
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

Deployed e780572f to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

ci: :passport_control: Update permissions in weekly-poetry-bot.yml workflow
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

chore: :test_tube: Update weekly-poetry-bot.yml workflow schedule for testing
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

Deployed 4c24c813 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

fix: Update weekly-poetry-bot.yml
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

Deployed 26ad60e2 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/search/search_index.json
Labels: none

chore(deps): :arrows_counterclockwise: update dependencies (#1486)
  poetry.lock
Labels: root, dependencies

feat: :zap: Allows also empty commits
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

Deployed 06281495 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed d26ec4b2 to develop with MkDocs 1.6.0 and mike 2.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

fix: :bug: Update poetry-update log file name for commit message
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

Deployed 3d43c2ac to develop with MkDocs 1.6.0 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed c17e072f to develop with MkDocs 1.6.0 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

chore(deps): :arrow_up: update dependency pylint to v3 Fixes #1498
  poetry.lock
  pyproject.toml
Labels: root, dependencies, maintenance

test: :bug: Update test_converter.py to use tomli instead of toml for exporting data
  spectrafit/plugins/test/test_converter.py
Labels: python, testing

chore: update dependencies in poetry.lock
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

chore: update weekly-poetry-bot.yml to run every hour
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

Deployed 70e77d56 to develop with MkDocs 1.6.0 and mike 2.1.3
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

fix: Remove `git push`
  .github/workflows/weekly-poetry-bot.yml
Labels: github-actions

.github/labeler.yml:

root:
- changed-files:
  - any-glob-to-any-file: '*'
codeowners:
- changed-files:
  - any-glob-to-any-file: .github/CODEOWNERS
codespaces:
- changed-files:
  - any-glob-to-any-file:  .devcontainer/**
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - poetry.lock
    - github/dependabot.yml
documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - Examples/**
    - mkdocs.yml
    - README.md
    - INSTALLATION.md
forms:
- changed-files:
  - any-glob-to-any-file:
    - .github/ISSUE_TEMPLATE/**
    - .github/pull_request_template.md
github-actions:
- changed-files:
  - any-glob-to-any-file: .github/workflows/**
pre-commit:
- changed-files:
  - any-glob-to-any-file:
    - .pre-commit-config.yaml
    - .pre-commit-hooks.yaml
python:
- changed-files:
  - any-glob-to-any-file: "spectrafit/**/*.py"
testing:
- changed-files:
  - any-glob-to-any-file: "spectrafit/**/test_*.py"
docker:
- changed-files:
  - any-glob-to-any-file:
    - Dockerfile
    - .dockerignore
    - .devcontainer/Dockerfile
release:
- changed-files:
    - any-glob-to-any-file: spectrafit/__init__.py
vendor:
- changed-files:
  - any-glob-to-any-file: vendor/**
maintenance:
- changed-files:
  - any-glob-to-any-file:
    - .gitignore
    - .github/dependabot.yml
    - .github/release-drafter.yml
    - .github/labeler.yml
    - .github/workflows/label.yml
    - .sonarcloud.properties
    - .pre-commit-config.yaml
    - .prettierignore
    - .pylintrc
    - .sonarcloud.properties
    - .sourcery.yaml
    - "pyproject.toml"
license:
- changed-files:
  - any-glob-to-any-file:
    - LICENSE
    - THIRD_PARTY_LICENSES
security:
- changed-files:
  - any-glob-to-any-file: SECURITY.md
code-of-conduct:
- changed-files:
  - any-glob-to-any-file: CODE_OF_CONDUCT.md
changelog:
- changed-files:
  - any-glob-to-any-file: CHANGELOG.md
