Repository Anselmoo/spectrafit, changes with the labels that .github/labeler.yml gives for each.
All labels: root, codeowners, codespaces, dependencies, documentation, forms, github-actions, pre-commit, python, testing, docker, release, vendor, maintenance, license, security, code-of-conduct, changelog

Update Codecov action configuration and change from dot to regular file (#1209)
  .github/workflows/python-ci.yml
  codecov.yml
Labels: root, github-actions

Deployed f9a44bbb to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed f094f83c to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml.gz
Labels: none

Deployed 4b79224c to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 5a495b0d to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed e5953341 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 3215c649 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 253f521e to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml.gz
Labels: none

chore: :page_facing_up: Updating to current year
  LICENSE
Labels: root, license

Deployed eea8a254 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/license/index.html
  develop/search/search_index.json
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

feat: :green_heart: Add Dependabot configuration for devcontainers
  .github/dependabot.yml
Labels: maintenance

ci: :white_check_mark: Update Dependabot schedule to weekly
  .github/dependabot.yml
Labels: maintenance

build: :arrow_up: Update to latest versions
  poetry.lock
Labels: root, dependencies

ci: :white_check_mark: Update Dependabot (#1228)
  .github/dependabot.yml
  .github/workflows/devcontainer-ci.yml
  .github/workflows/docker-cd.yml
  poetry.lock
Labels: root, dependencies, github-actions, maintenance

Deployed 8ff264e5 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml.gz
Labels: none

fix: :green_heart: Update pre-commit-config.yaml and models.md
  docs/doc/models.md
Labels: documentation

fix: :memo: Fix model parameter assignment
  docs/doc/models.md
Labels: documentation

build: :arrow_up: Update dtale version to 3.9.0
  poetry.lock
Labels: root, dependencies

fix: :rotating_light: Fix credit logo path in PPTXBasicTitleAPI
  spectrafit/api/pptx_model.py
Labels: python

ci: :star: Add no-commit-to-branch hook to pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: root, pre-commit, maintenance

build: :arrow_up: Update mypy and isort versions
  poetry.lock
  pyproject.toml
Labels: root, dependencies, maintenance

build: :arrow_up: Update Poetry version to 1.8.2 and mkdocs-material version to 9.5.15
  poetry.lock
Labels: root, dependencies

fix: :test_tube: Remove no-commit-to-branch hook from pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: root, pre-commit, maintenance

Deployed 4c32419b to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed bfc03243 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml.gz
Labels: none

chore: Update dependabot.yml
  .github/dependabot.yml
Labels: maintenance

chore: :sparkles: Update devcontainer.json with new features
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
Labels: codespaces

Deployed f069e1e3 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

revert: :minus-sign: Removed poetry shell
  .devcontainer/setup.sh
Labels: codespaces

Deployed 240b335f to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 1fca71b2 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed f5d70092 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/search/search_index.json
  develop/sitemap.xml.gz
Labels: none

Deployed 374d20e6 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed fbb3e54f to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml.gz
Labels: none

Deployed 2279c746 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

Deployed 45fbff50 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml.gz
Labels: none

Deployed 5eae5a38 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml.gz
Labels: none

Deployed b485db63 to develop with MkDocs 1.5.3 and mike 1.1.2
  develop/sitemap.xml
  develop/sitemap.xml.gz
Labels: none

build: :arrow_up: Update dependencies in pyproject.toml
  poetry.lock
  pyproject.toml
Labels: root, dependencies, maintenance

build: :arrow_up: Update mkdocstrings dependency to version >=0.24.3,<0.26.0
  poetry.lock
  pyproject.toml
Labels: root, dependencies, maintenance

.github/labeler.yml:

root:
- changed-files:
  - any-glob-to-any-file: '*'
codeowners:
- changed-files:
  - any-glob-to-any-file: .github/CODEOWNERS
codespaces:
- changed-files:
  - any-glob-to-any-file:  .devcontainer/**
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - poetry.lock
    - github/dependabot.yml
documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**
    - Examples/**
    - mkdocs.yml
    - README.md
    - INSTALLATION.md
forms:
- changed-files:
  - any-glob-to-any-file:
    - .github/ISSUE_TEMPLATE/**
    - .github/pull_request_template.md
github-actions:
- changed-files:
  - any-glob-to-any-file: .github/workflows/**
pre-commit:
- changed-files:
  - any-glob-to-any-file:
    - .pre-commit-config.yaml
    - .pre-commit-hooks.yaml
python:
- changed-files:
  - any-glob-to-any-file: "spectrafit/**/*.py"
testing:
- changed-files:
  - any-glob-to-any-file: "spectrafit/**/test_*.py"
docker:
- changed-files:
  - any-glob-to-any-file:
    - Dockerfile
    - .dockerignore
    - .devcontainer/Dockerfile
release:
- changed-files:
    - any-glob-to-any-file: spectrafit/__init__.py
vendor:
- changed-files:
  - any-glob-to-any-file: vendor/**
maintenance:
- changed-files:
  - any-glob-to-any-file:
    - .gitignore
    - .github/dependabot.yml
    - .github/release-drafter.yml
    - .github/labeler.yml
    - .github/workflows/label.yml
    - .sonarcloud.properties
    - .pre-commit-config.yaml
    - .prettierignore
    - .pylintrc
    - .sonarcloud.properties
    - .sourcery.yaml
    - "pyproject.toml"
license:
- changed-files:
  - any-glob-to-any-file:
    - LICENSE
    - THIRD_PARTY_LICENSES
security:
- changed-files:
  - any-glob-to-any-file: SECURITY.md
code-of-conduct:
- changed-files:
  - any-glob-to-any-file: CODE_OF_CONDUCT.md
changelog:
- changed-files:
  - any-glob-to-any-file: CHANGELOG.md
