Repository Anselmoo/spectrafit, pull requests merged in 2023-06, with the labels that each got.

#810 Update CHANGELOG
  CHANGELOG.md
Labels: changelog

#814 chore: :bookmark: Update to `0.18.1`
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  spectrafit/__init__.py
Labels: maintenance, dependencies, release, changelog

#815 fix: :memo: Re-Write misleading formulation
  README.md
  poetry.lock
  pyproject.toml
  spectrafit/__init__.py
Labels: documentation, maintenance, dependencies, release

#817 docs: :memo: Update README.md
  .codecov.yml
  README.md
  poetry.lock
Labels: documentation, dependencies

#819 Update CHANGELOG
  CHANGELOG.md
Labels: changelog

#839 ci: :zap: Create codeql.yml
  .github/workflows/codeql.yml
Labels: github-actions

#841 perf: :arrow_up: Update `devcontainer.json`
  .devcontainer/devcontainer.json
Labels: codespaces

#842 0.18.3-release
  .devcontainer/Dockerfile
  Dockerfile
  poetry.lock
  pyproject.toml
  spectrafit/__init__.py
Labels: maintenance, dependencies, codespaces, docker, release

#844 Update CHANGELOG
  CHANGELOG.md
Labels: changelog

#845 build: :bookmark: Minor dependency updates
  poetry.lock
  pyproject.toml
  spectrafit/__init__.py
Labels: maintenance, dependencies, release

#847 feat: :sparkles: added 2. and 3. order polynomial model
  .github/workflows/python-ci.yml
  poetry.lock
  pyproject.toml
  spectrafit/__init__.py
  spectrafit/models.py
  spectrafit/test/test_models.py
Labels: enhancement, testing, maintenance, dependencies, github-actions, python, release

#849 Update CHANGELOG
  CHANGELOG.md
Labels: changelog

#850 fix: ✍️ Add missing CHANGELOG of `0.18.1`
  CHANGELOG.md
  spectrafit/models.py
Labels: changelog

#860 chore: :speech_balloon: Change from `errors` to `components`
  spectrafit/tools.py
Labels: python
